<div class="container-fluid" id="pied">
  <div class="row">
    <div class="col-md-6" id=" lien">
      <ul id="list">
           <li><a href="">Nos Agences</a></li>
           <li> <a href="">Nos Services</a></li>
           <li><a href="">Informations Legales</a></li>
          </ul>
    </div>  
    
    <div class="col-md-6" id="resSoc" >
        <h3 id="sn"> Suivez-nous </h3>
            <div class="res">    
            <a href="https://www.facebook.com" target="_blank" class="facebook large"><img src="./../../assets/images/fb.png " width="30" height="30"></a>    
            <a href="https://twitter.com/TravelCar_" target="_blank" class="twitter large"><img src="./../../assets/images/tweet2.png"  width="35" height="35"></a>
          </div> 
    </div>
  </div>


</div>